
# Elastic Beanstalk Files
# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment/config secrets
.env

# Ignore Elastic Beanstalk hidden files
.elasticbeanstalk
!.elasticbeanstalk/config.yml

# Optional: ignore log files
*.log